@model IEnumerable<BoletoBus.Web.Models.Reserva.ReservaGetModelBase>

@{
    ViewData["Title"] = "Index";
}

<h1>Reserva List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idViaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPasajero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asientosReservados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.idReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idViaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPasajero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asientosReservados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idReserva }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idReserva }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
