@model BoletoBus.Web.Models.Viaje.ViajeGetModelBase

@{
    ViewData["Title"] = "Details";
}

<h1>Viaje Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idViaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idViaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idBus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idBus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idRuta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idRuta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horaLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalAsientos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalAsientos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.asientosReservados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.asientosReservados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.asientoDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.asientoDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.completo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.completo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.idViaje  }) |
    <a asp-action="Index">Back to List</a>
</div>
